<div class="left-content">
    <h1>Weather Information</h1>
    <form id="weatherForm">
      <input type="text" name="city" placeholder="Enter city name" required>
      <button type="submit">Get Weather</button>
    </form>
    <div id="weatherInfo"></div>
    <div id="weatherHistory">
      <button onclick="displayWeatherHistory('userId')">View Weather History</button>
    </div>
    <div id="newsInfo"></div>
    
  </div>
  